
  .input-box{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:#ffff
  }

  .btn-go{
    background-color: #FFC75F;
  color: white;
  border: 2px solid #E7B355;
    font-size: 1.5em;
    border-radius: 0.3em;
    padding: 0.2em 1em; 
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}