@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

#root{
  margin: 2px;
}

*{
  box-sizing: border-box;
  background-color: #33ccff;

}

.App {
  text-align: center;

}
.logo-img{
  height: 200px;
}

.header-text{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1em;
  color: #fff;
  border-bottom: 8px solid #FFC75F;
  border-radius: 1em;
  margin: 2em;
 
}
/* Header
YELLOW: #FFC75F
YELLOW_DARK: #E7B355
PURPLE: #845EC2
*/

.notLoggedInWelcome{
  text-align: center;
}

.profile-header{
  float: right;

}

.btn-LogIn{
  background-color: #FFC75F;
  color: white;
  border: 2px solid #E7B355;
  font-size: 2em;
  border-radius: 0.3em;
  padding: 0.2em 1em; 
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
  float: right;
  margin: 1em;
}

.login-box{
  width: 50%

}




