#root{
  margin: 2px;
}

*{
  box-sizing: border-box;
  background-color: #33ccff;

}

.App {
  text-align: center;

}
.logo-img{
  height: 200px;
}

.header-text{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #fff;
  border-bottom: 2px solid black;
  margin: 2em;
 
}


.profile-header{
  float: right;

}

.btn-LogIn{
  background-color: #4a7dcf;
  color: white;
  border: 2px solid #3c2faf;
  font-size: 2em;
  border-radius: 0.3em;
  padding: 0.2em 1em; 
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  float: right;
  margin: 1em;
}

.login-box{
  width: 50%

}




