.btn-go{
    background-color: #4a7dcf;
    color: white;
    border: 2px solid #3c2faf;
    font-size: 2em;
    border-radius: 0.3em;
    padding: 0.2em 1em; 
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.form-control{
    border: 2px solid #3c2faf;
    font-size: 2em;
    border-radius: 0.3em;
    padding: 0.2em 1em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


